<h1>Listing piles</h1>

<table>
  <tr>
    <th>Itemdid</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @piles.each do |pile| %>
  <tr>
    <td><%= pile.ItemdId %></td>
    <td><%= pile.Amount %></td>
    <td><%= link_to 'Show', pile %></td>
    <td><%= link_to 'Edit', edit_pile_path(pile) %></td>
    <td><%= link_to 'Destroy', pile, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pile', new_pile_path %>
<%= link_to "Back", root_path %>