<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @pile.Amount %>
</p>

<p>
  <b>Type:</b>
  <% if(@pile.type) %>
  <%= @pile.type.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_pile_path(@pile) %> |
<%= link_to 'Back', piles_path %>
