<!DOCTYPE html>
<html>
<head>
  <title>CorpTools</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui-1.9.2.custom.min.js' %>
  <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.9.2.custom' %>
</head>
<body>

<%= yield %>

</body>
</html>
